/*Configuración general (y tablet)*/

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    top: 0px;
}

header {
    position: static;
}


/*Configuración de móvil*/

@media (max-width: 400px) {
    * {
        position: fixed;
    }
    header {
        margin-top: 0px;
        top: 0;
    }
    aside>a>span {
        display: none;
    }
    nav>a>span {
        display: none;
    }
}


/*Configuración de pantalla*/

@media (max-width: 900px) {}