/*General*/

* {
    box-sizing: border-box;
    margin: 0;
    border-collapse: collapse;
    --color1: crimson;
    --color2: gray;
    --color3: rgb(216, 216, 216);
    --color4: black;
}

body {
    display: flex;
    background-color: var(--color2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 320px;
}

aside,
main,
header,
footer,
section,
nav {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 12px;
}

a:hover {
    border-color: var(--color1);
}

a:visited {
    color: var(--color4);
}

a>span:hover {
    color: var(--color1);
}


/*Versión móvil*/

header {
    background-color: var(--color1);
    order: 1;
}

nav {
    background-color: var(--color2);
    order: 2;
}

main {
    background-color: var(--color3);
    padding: 15px;
    order: 3;
    margin-bottom: 60px;
}

section {
    border: solid;
}

#seccion1 {
    order: 4;
}

#seccion2 {
    order: 5;
}

#seccion3 {
    order: 6;
}

aside {
    position: fixed;
    background-color: var(--color2);
    width: 100%;
    bottom: 0;
    left: 0;
}

footer {
    background-color: var(--color1);
    order: 6;
    display: none;
}

aside>a>span,
nav>a>span {
    display: none;
}

nav>a,
aside>a {
    text-decoration: none;
    padding: 4px;
    align: center;
}


/*Versión de Tablet*/

@media (min-width: 660px) {
    nav {
        position: fixed;
        background-color: var(--color2);
        top: 0px;
        left: 0px;
        width: 100%;
        height: 73px;
        border-bottom: solid;
    }
    nav>a>span {
        display: inline-block;
    }
    aside {
        position: fixed;
        background-color: var(--color2);
        left: 0px;
        top: 73px;
        bottom: unset;
        width: 63px;
        height: 100%;
        border-right: solid;
    }
    aside>a>img {
        margin: 1px;
    }
    header {
        background-color: var(--color1);
        order: 1;
        margin-left: 63px;
        margin-top: 73px;
    }
    main {
        flex-direction: row;
        background-color: var(--color3);
        padding: 15px;
        order: 2;
        margin-left: 63px;
        margin-bottom: unset;
        display: inline-flex;
        flex-direction: row;
        flex-flow: wrap;
    }
    #seccion1 {
        flex: 0 1 50%;
    }
    /*Anotación IMPORTANTE:
    - Las secciones están en posiciones como las indicadas en el dibujo, o lo más cercanas posibles.
    - Igualmente, estéticamente no es bonito. Para dejar el tamaño visualmente agradable que corresponde, hay que cambiar en #seccion1
        - flex: 0 1 50%;
            por
        - flex: 0 1 100%;
    */
    #seccion2 {
        flex: 0 1 50%;
    }
    #seccion3 {
        flex: 0 1 50%;
    }
    footer {
        background-color: var(--color1);
        order: 6;
        display: none;
    }
    nav>a {
        display: inline-block;
        text-decoration: none;
        padding: 3px;
        border-style: solid;
        border-color: var(--color4);
        border-width: 3px;
        border-radius: 10px;
        text-align: center;
        margin: 3px;
    }
}


/*Versión de Escritorio*/

@media(min-width: 980px) {
    aside {
        width: 200px;
    }
    aside>a {
        display: inline-block;
        text-decoration: none;
        padding: 3px;
        border-style: solid;
        border-color: var(--color4);
        border-width: 3px;
        border-radius: 10px;
        text-align: center;
        margin: 3px;
    }
    aside>a>span {
        display: inline-block;
        width: 150px;
    }
    header {
        margin-left: 200px;
    }
    main {
        margin-left: 200px;
        flex-wrap: nowrap;
    }
    #seccion1 {
        flex: 0 1 50%;
    }
    #seccion2 {
        flex: 0 1 50%;
    }
    #seccion3 {
        flex: 0 1 50%;
    }
    footer {
        background-color: var(--color1);
        display: flex;
        margin-left: 200px;
    }
}