/*Versión de móvil*/

* {
    margin: 0px;
    box-sizing: border-box;
    border-collapse: collapse;
}

nav {
    position: fixed;
    background-color: grey;
    height: 63px;
    left: 0px;
    border-bottom: solid;
    padding: 4px;
    width: 100%;
    z-index: 1;
}

header {
    position: relative;
    padding: 2px;
    padding-left: 5px;
    background-color: crimson;
    border-bottom: solid;
    left: 40px;
    top: 63px;
    width: calc(100% - 40px);
}

body {
    background-color: slategray;
}

main {
    position: relative;
    background-color: slategray;
    top: 63px;
    left: 40px;
    width: calc(100% - 38px);
}

aside {
    background-color: grey;
    border-right: solid;
    position: fixed;
    top: 63px;
    bottom: 0px;
    width: 40px;
    padding: 4px;
    float: left;
}

footer {
    display: none;
}

aside>a>span {
    text-decoration-color: grey;
    display: none;
}

nav>a {
    display: inline-block;
    text-decoration: none;
    padding: 3px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
    text-align: center;
    margin: 3px;
}

a:hover {
    border-color: crimson;
}

a:visited {
    color: black;
}

aside>a {
    text-decoration: none;
}


/*¡¡¡POR AQUI!!!*/

body {
    display: flex;
    background-color: steelblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section,
main {
    flex-basis: 100%;
    flex-grow: 2;
    padding: 15px;
    border: solid;
    border-radius: 1px;
}

#section1 {
    order: 3;
    flex-basis: 50%;
}

#section2 {
    order: 4;
}

#section3 {
    order: 5;
}


/*¡¡¡POR AQUI!!!*/


/*Medio: movil*/

@media (max-width: 639px) {
    header {
        min-width: 280px;
        position: relative;
        top: -63px;
        left: 0px;
        height: 50px;
        padding: 5px;
        width: 100%;
    }
    nav {
        min-width: 280px;
        position: relative;
        top: 50px;
        left: 0;
        width: 100%;
    }
    aside {
        min-width: 280px;
        position: fixed;
        height: 40px;
        top: unset;
        width: 100%;
        border-right: none;
    }
    main {
        min-width: 280px;
        position: relative;
        width: 100%;
        top: 0px;
        margin-bottom: 40px;
        left: 0px;
    }
    section {
        width: 100%;
    }
    nav>a>span {
        display: none;
    }
}


/*Medio: Monitor*/

@media (min-width: 900px) {
    nav {
        padding-left: 10px;
        left: 0px;
        width: 100%;
    }
    header {
        position: fixed;
        top: 63px;
        left: 220px;
        width: calc(100% - 220px);
        z-index: 2;
    }
    aside {
        top: 63px;
        width: 220px;
    }
    main {
        top: 109px;
        left: 220px;
        width: calc(100% - 220px);
    }
    section {
        position: static;
        display: inline-block;
        top: 0;
        display: inline-block;
        border: solid;
        border-color: rgb(34, 34, 34);
        background-color: slategray;
        width: calc(33% - 4px);
        float: left;
    }
    footer {
        display: inline-block;
        position: relative;
        padding-left: 5px;
        left: 220px;
        top: 100px;
        width: calc(100% - 220px);
        background-color: crimson;
        border-top: solid;
    }
    aside>a {
        display: block;
        text-decoration: none;
        padding: 3px;
        border-style: solid;
        border-color: black;
        border-width: 3px;
        border-radius: 10px;
        text-align: center;
        margin: 8px;
    }
    aside>a>span {
        display: inline-block;
        line-height: 24px;
        height: 26px;
    }
}