* {
    margin: 0px;
    box-sizing: border-box;
}

nav {
    position: fixed;
    background-color: grey;
    height: 40px;
    left: 40px;
    border-bottom: solid;
    padding: 4px;
    width: calc(100% - 40px);
    z-index: 1;
}

header {
    position: relative;
    padding: 2px;
    background-color: crimson;
    border-bottom: solid;
    left: 40px;
    top: 40px;
    width: calc(100% - 40px);
}

body {
    background-color: whitesmoke;
}

main {
    position: relative;
    background-color: whitesmoke;
    top: 40px;
    left: 38px;
    width: calc(100% - 38px);
}

section {
    border: solid;
    border-color: rgb(34, 34, 34);
    background-color: whitesmoke;
}

aside {
    background-color: grey;
    border-right: solid;
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 40px;
    padding: 4px;
}

footer {
    display: none;
}

aside>a>span {
    text-decoration-color: grey;
    display: none;
}

nav>a {
    text-decoration: none;
}

aside>a {
    text-decoration: none;
}


/*Medio: movil*/

@media (max-width: 499px) {
    header {
        position: relative;
        top: -40px;
        left: 0px;
        height: 50px;
        padding: 5px;
        width: 100%;
    }
    nav {
        position: relative;
        top: 50px;
        left: 0;
        width: 100%;
    }
    aside {
        position: fixed;
        height: 40px;
        top: unset;
        width: 100%;
        border-right: none;
    }
    main {
        position: relative;
        width: 100%;
        top: 0px;
        margin-bottom: 40px;
        left: 0px;
    }
    section {
        width: 100%;
    }
    aside>a>span {
        display: none;
    }
    nav>a>span {
        display: none;
    }
}


/*Medio: Monitor*/

@media (min-width: 799px) {
    section {
        display: inline-block;
        box-sizing: content-box;
        width: 32%;
    }
    footer {
        display: inline-block;
        position: relative;
        left: 40px;
        top: 40px;
        width: calc(100% - 40px);
        background-color: crimson;
        border-top: solid;
    }
}