* {
    margin: 0px;
    box-sizing: border-box;
}


header {
    background-color: crimson;
}
nav {
    background-color: grey;
    height: 35px;
    border-bottom: solid;
}
body {
    background-color: whitesmoke;
}
main{
    background-color: whitesmoke;
}
section{
    border: solid;
    border-color: rgb(34, 34, 34);
    background-color: whitesmoke;
}
aside{
    background-color: grey;
    border-right: solid;
    position: fixed;
    top: 35px;
    bottom: 0px;
    width: 35px;
}
footer{
    display: none;
}
aside > a > span {
    display: none;
}



/*Medio: movil*/
@media (max-width: 350px) {
    
    header {
        position: relative;
        top: -34px;
        height: 50px;
        padding: 5px;
    }
    nav {
        position: relative;
        top: 50px;
    }
    aside {
        position: fixed;
        height: 34px;
        top: unset;
        width: 100%;
        border-top: solid;
    }    
    aside > a > span {
        display: none;
    }
    nav > a > span {
        display: none;
    }
}

/*Medio: Monitor*/
@media (min-width: 750px) {
    footer {
        display: unset;
        position: relative;
        bottom: 0px;
        background-color: crimson;

    }
}