table{
    border-collapse: collapse;
    text-align: center;
}
td,th{
    border-style: solid;
    border-width: 2px;
    border-top-style: none;
}
td{
    background-color: lightblue;
}
th{
    background-color: crimson;
}
#celda_4{
    background-color: darkgreen;
}
.verde {
    background-color: green;
}
.amarillo{
    background-color: yellow;
    text-align: center;
}
th.amarillo{
    background-color: yellow;
    text-align: end;
}
.negrita{
    font-weight: bold;
}